#home_page {
    width: 100vw;
    text-align: center;
}

#img_burger {
    min-width: 100vw;
    min-height: 90vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

#title {
    margin-top: 10vh;
}

#text1 {
    margin: 5vw;
    text-align: justify;
}

#img_burger2 {
    width: 90vw;
    margin: 5vw;
}

#text2 {
    margin: 5vw;
    text-align: justify;
}

#img_smoothie {
    width: 90vw;
    margin: 5vw;
}

#candc {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: cadetblue;
    opacity: 0.9;
    text-align: center;

    white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
display: inherit;
}

#command {
    color: white;
    margin-top: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

#candclink {
    text-decoration: underline;
    color: white;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
}
a {
    color: white;
}